* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Tahoma;
}

.todo-container {
  margin: 30px auto 0;
  background-color: #F6F6F6;
  width: 600px;
}

.todo-container .add-task {
  padding: 15px;
  background-color: #E91E63;
  position: relative;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 1px #aaa;
}

.todo-container .add-task input {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  background-color: rgba(255, 255, 255, .5);
  width: calc(100%); 
  color: #FFF;
  font-size: 20px;
  border-radius: 20px;
}

.todo-container .add-task input:focus {
  outline: none;
}

.todo-container .add-task input::-webkit-input-placeholder {
  color:rgba(255, 255, 255, 0.7);
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.todo-container .add-task input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
.todo-container .add-task input:focus::-moz-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
.todo-container .add-task input:focus::-ms-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}

.todo-container .add-task .plus {
  position: absolute;
  height: 43px;
  width: 43px;
  background-color: #FFF;
  right: 15px;
  border-radius: 50%;
  line-height: 43px;
  text-align: center;
  color: #009688;
  cursor: pointer;
  font-size: 38px;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  transition: all .3s;
}

.todo-container .add-task .plus:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #009688;
  color: #FFF;
}

.todo-container .tasks-content {
  padding: 15px;
}

.todo-container .tasks-content .no-tasks-message {
  color: #777;
  font-size: 15px;
}

.todo-container .tasks-content > span {
  display: block;
  background-color: #fff;
  padding: 15px;
}

.todo-container .tasks-content > span:not(:last-child) {
  margin-bottom: 10px;
}

.todo-container .tasks-content .task-box .check {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #FFF;
  border: 4px solid #a8f2a9;
  float: left;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
}
.todo-container .tasks-content .task-box .check.right::before {
  position: absolute;
  content: "✓";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: green;

}

.todo-container .tasks-content .task-box .delete {
  float: right;
  background-color: #E91E63;
  padding: 4px 10px;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.todo-container .tasks-content .task-box .complete {
  float: right;
  background-color: #03A9F4;
  padding: 4px 10px;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  margin-right: 3px;
  cursor: pointer;
}

.todo-container .tasks-content .task-box.finished {
  text-decoration-line: line-through;
  text-decoration-color: #03A9F4;
  text-decoration-thickness: 2px;
  color: #aaa;
  /* text-decoration-style: solid; */
}

.task-stats,
.task-options {
  overflow: hidden;
  margin: 10px auto;
  width: 600px;
  font-size: 12px;
}

.task-stats .tasks-count,
.task-options .tasks-delete {
  width: 50%;
  float: left;
  padding: 10px;
}

.task-stats .tasks-completed,
.task-options .tasks-finish {
  width: 50%;
  float: right;
  padding: 10px;
  text-align: right;
}

.task-stats .tasks-count span,
.task-stats .tasks-completed span, 
.task-options .tasks-delete span,
.task-options .tasks-finish span {
  color: #FFF;
  padding: 1px 5px;
  font-size: 10px;
  border-radius: 4px;
  font-weight: bold;
}

.task-stats .tasks-count span,
.task-options .tasks-delete span {
  background-color: #E91E63;
}

.task-stats .tasks-completed span,
.task-options .tasks-finish span {
  background-color: #03A9F4;
}

.task-options .tasks-delete span,
.task-options .tasks-finish span {
  cursor: pointer;
}