:root {
  --main-color: #FF9800;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.up {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 9999; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--main-color); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Rounded corners */
  transition: 0.3s;
  font-size: 30px; /* Increase font size */
  text-align: center;
}
.up .fa-arrow-up {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%; /* or bottom: 0 */
}
.up:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.container {
  /* width: 1170px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/* Start Settings box */
.settings-box {
  position: fixed;
  top: 0;
  left: -200px;
  background-color: rgba(255, 255, 255, 1);
  width: 200px;
  min-height: 100vh;
  z-index: 10000;
  transition: 0.4s;
  border: 1px solid #AAA;
}
.settings-box.open {
  left: 0;
}
.settings-box hr {
  background-color: #EEE;
  height: 2px;
  border: none;
  width: 50%;
}
.settings-box .toggle-settings {
  position: absolute;
  right: -32px;
  top: 100px;
  background-color: #FFF;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 40% 40% 0;
  cursor: pointer;
  border: 1px solid #AAA;
}
.settings-box .toggle-settings .fa-gear{
  padding: 10px 0;
  width: 30px;
  color: #333;
}
.settings-box .settings-container .option-box {
  padding: 10px;
  text-align: center;
  background-color: #EEE;
  margin: 10px;
}
.settings-box .settings-container .option-box h4 {
  font-size: 14px;
  margin: 0;
  color: #666;
  /* color: var(--main-color); */
}
.settings-box .settings-container .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}
.settings-box .settings-container .colors-list li {
  width: 24px;
  height: 24px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid transparent;
  transition: 0.2s;
  display: inline-block;
}
.settings-box .settings-container .colors-list li.active {
  border-color: #FFF;
}
.settings-box .settings-container .colors-list li:nth-child(1) {
  background-color: #FF9800;
}
.settings-box .settings-container .colors-list li:nth-child(2) {
  background-color: red;
}
.settings-box .settings-container .colors-list li:nth-child(3) {
  background-color: blue;
}
.settings-box .settings-container .colors-list li:nth-child(4) {
  background-color: green;
}
.settings-box .settings-container .colors-list li:nth-child(5) {
  background-color: purple;
}
.settings-box .settings-container .option-box .yes,
.settings-box .settings-container .option-box .no {
  width: 50px;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--main-color);
  color: #FFF;
  margin: 10px 0 0;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
}
.settings-box .settings-container .option-box span.active {
  opacity: 1;
}
.settings-box .settings-container .option-box .no {
  margin-left: 15px;
}
/* .settings-box .settings-container .option-box .yes .fa-check, 
.settings-box .settings-container .option-box .no .fa-xmark {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.settings-box .reset-options {
  margin: 10px auto;
  width: 198px;
  display: block;
  border: none;
  background-color:rgba(255, 0, 0, 0.9);
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* End Settings box */

/* Start Nav Bullets */
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  z-index: 1000;
  transition: all 0.5s ease;
  /* pointer-events: none  */
}
.nav-bullets.hidden {
  visibility: hidden;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  background-color: var(--main-color);
  border-radius: 50%;
  margin: 20px auto;
  cursor: pointer;
  position: relative;
  /* transition: 0.4s; */
}
.nav-bullets .bullet:hover {
  transform: scale(1.2);
}
.nav-bullets .bullet:hover .tooltip {
  display: block;
}
.nav-bullets .bullet .tooltip {
  background-color: var(--main-color);
  color: #FFF;
  width: 120px;
  padding: 8px 10px;
  position: absolute;
  right: 40px;
  top: -10px;
  text-align: center;
  border-radius: 5px 0 0 5px;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .bullet .tooltip::before {
  position: absolute;
  content: "";
  border: 18px solid;
  border-color: transparent transparent transparent var(--main-color);
  right: -34px;
  top: 50%;
  transform: translateY(-50%);
}
/* End Nav Bullets */


/* Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/2.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  /* color: white */
}
.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.landing-page .container {
  position: relative;
  z-index: 1000;
}
.landing-page .header-area {
  position: relative;
  z-index: 2;
  color: #FFF;
  display: flex;
  padding: 10px;
}
.landing-page .header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.landing-page .header-area .links-container {
  width: 100%;
  text-align: right;
}
.landing-page .header-area .links {
  list-style: none;
  padding-left: 0;
  /* padding-right: 20px; */
  /* font-size: 15px; */
}
.landing-page .header-area .links li {
  display: inline-block;
  margin-left: 10px;  
}
.landing-page .header-area .links li a {
  text-decoration: none;
  color: #FFF;
  transition: 0.4s;
}
.landing-page .header-area .links li a:hover,
.landing-page .header-area .links li a.active {
  color: var(--main-color);
}
.landing-page .header-area .toggle-menu {
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  margin-top: 15px;
  display: none; /*when open page in width larger than 991*/
  position: relative;
}
.landing-page .header-area .toggle-menu.menu-active::before {
  position: absolute;
  content: "";
  border: 10px solid;
  border-color: transparent transparent #FFF transparent;
  bottom: -15px;
  left: 10px;
}
.landing-page .header-area .toggle-menu:focus {
  outline: none;
}
.landing-page .header-area .toggle-menu span {
  display: block;
  background-color: #FFF;
  height: 4px;
  margin-bottom: 4px;
}
.landing-page .introduction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  color: #FFF;
  text-align: center;
  width: 95%;
}
.landing-page .introduction-text h1 {
  font-size: 34px;
  margin: 0 0 12px;
}
@media (max-width: 575px) {
  .landing-page .introduction-text h1 {
    font-size: 26px;
  }
}
.landing-page .introduction-text h1 span {
  color: var(--main-color);
}
.landing-page .introduction-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }
  .header-area .links.open {
    background-color: #FFF;
    display: block;
    width: 100%;
    padding: 10px;
    left: 0;
    top: 50px;
    position: absolute;
    border-radius: 5px;
    text-align: left;
  }
  .header-area .links.open li {
    display: block;
    margin: 10px;
  }
  .header-area .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }
  .landing-page .header-area .toggle-menu {
    display: inline-block;
  }
}
/* End Landing Page */

/* Start About Us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }
}
.about-us .info-box {
  flex: 1;
  padding: 30px;
}
@media (max-width: 767px) {
  .about-us .info-box {
    padding: 0;
  }
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
.about-us .image-box {
  flex: 1;
  text-align: center;
}
.about-us .image-box img {
  width: 300px;
}
/* End About Us */

/* Start Our Skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #DDD;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skill-box {
  background-color: #FFF;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .skills .skill-box {
    display: block;
  }
}
.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 767px) {
  .skills .skill-box .skill-name {
    width: 100%;
    margin-bottom: 10px;
  }
}
.skills .skill-box .skill-progress {
  height: 30px;
  width: calc(100%);
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: all .5s;
}
/* End Our Skills */

/* Start Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 200px;
  height: 120px;
  padding: 5px;
  margin: 5px;
  background-color: #f6f6f6;
  border: 1px solid #CCC;
  cursor: pointer;
}
.gallery .images-box img:last-child {
  /* height: 120px; */
}
.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #EEE;
  border: 1px solid #CCC;
  padding: 20px;
  z-index: 10001;
}
.popup-box h3 {
  /* font-weight: bold; */
  /* text-align: center; */
  width: fit-content;
  margin: 15px auto; 
  margin-top: 0;
  padding: 5px;
  color: var(--main-color);
  text-decoration: underline;
}
.popup-box img {
  max-width: 100%;
  padding: 5px;
  background-color: #f6f6f6;
  border: 2px solid #BBB;
}
.popup-box .close-span {
  position: absolute;
  top: -17px;
  right: -17px;
  /* background-color: var(--main-color); */
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
  font-family: Arial, Tahoma;
}
.popup-box .fa-droplet {
  position: absolute;
  top: -22px;
  right: -14px;
  font-size: 45px;
  color: var(--main-color);
  text-align: center;
  z-index: -1;
}
.popup-box p {
  font-size: 20px;
  color: #333;
}
/* End Gallery */

/* Start TimeLine */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #EEE;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  margin-left: -1px;
}
.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  color: #FFF;
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  padding: 2px 5px;
  font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 767px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline .timeline-content .left::before,
  .timeline .timeline-content .right::before {
    display: none;
  }
  .timeline .timeline-content .right::before,
  .timeline .timeline-content .right::before {
    display: none;
  }
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #FFF;
  border: 3px solid var(--main-color);
  top: 20px;
}
.timeline .timeline-content .left::before {
  right: -35px;
}
.timeline .timeline-content .right::before {
  left: -34.45px;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .content {
  padding: 20px;
  background-color: #FFF;
}
.timeline .timeline-content .content h3 {
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}
.clearfix {
  clear: both;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 10px;
  top: 20px;
}
.timeline .timeline-content .left .content::before {
  right: -19px;
  border-color: transparent transparent transparent #FFF;
}
.timeline .timeline-content .right .content::before {
  left: -19px;
  border-color: transparent #FFF transparent transparent;
}

/* End TimeLine */

/* Start Our Features */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.features .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .features .feat-box {
    width:calc(100% / 2);
  }
}
@media (max-width: 575px) {
  .features .feat-box {
    width:calc(100%);
  }
}
.features .feat-box img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.features .feat-box h4::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  background-color: var(--main-color);  
  left: 50%;
  margin-left: -25px; /* -(width/2) */
  bottom: -22px;
  border-radius: 2px;
}
.features .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  color: #706f6f;
}
/* End Our Features */

/* Start Testimonials */
.testimonials {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}
.testimonials::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
  top: 0;
  left: 0;
}
.testimonials::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  background-color: #333;
  top: 0;
  right: 0;
}
.testimonials h2 {
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
  margin: 0 0 30px;
  /* text-align: center; */
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .testimonials h2 {
    text-align: center;
  }
}
.testimonials .ts-box {
  position: relative;
  z-index: 1;
  float: left;
  width: calc(98% / 3);
  background-color: #FFF;
  padding: 20px;
  perspective: 1000px;
  transition: 0.5s;
}
.testimonials .ts-box:hover {
  transform: translateY(-20px);
}
@media (max-width: 767px) {
  .testimonials .ts-box {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .testimonials .ts-box:hover {
    transform: none;
  }
}
/* .testimonials .container div:nth-child(2) {
  margin-right: 1%;
}
.testimonials .container div:nth-child(3) {
  margin-right: 1%;
} */
.testimonials .ts-box:not(.ts-box:last-of-type) {
  margin-right: 1%;
}
.testimonials .ts-box > p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 18px;
  color: #707070;
  font-style: italic;
}
.testimonials .ts-box>p::before,
.testimonials .ts-box>p::after {
  content: "\" ";
}
.testimonials .ts-box .person-info {
  overflow: hidden;
}
@media (max-width: 991px) {
  .testimonials .ts-box .person-info {
    text-align: center;
    overflow: visible;
  }
}
.testimonials .ts-box .person-info img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .testimonials .ts-box .person-info img {
    float: none;
    margin-right: 0;
  }
}
.testimonials .ts-box .person-info h4 {
  margin: 11px 0 11px;
}
.testimonials .ts-box .person-info p {
  color: #707070;
  margin: 0;
}

/* End Testimonials */

/* Start Contact Us */
.contact {
  min-height: 600px;
  background-image: url(../imgs/map.gif);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.contact form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}
.contact form .left {
  float: left;
  width: 49%;
}
.contact form .right {
  float: right;
  width: 49%;
}
@media (max-width: 767px) {
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
}
.contact form input:not(input[value="Send"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #CCC;
  background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not(input[value="Send"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact form input {
  height: 40px;
}
.contact form textarea {
  height: 150px;
}
.contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main-color);
  color: #FFF;
  cursor: pointer;
}
.contact form input:not(input[type="submit"]):focus::-webkit-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact form input:not(input[type="submit"]):focus::-ms-input-placeholder,
.contact form textarea:focus::-ms-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact form input:not(input[type="submit"]):focus::-moz-input-placeholder,
.contact form textarea:focus::-moz-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
/* End Contact Us */

/* Start Footer */
.footer {
  background-color: #333;
  color: #FFF;
  padding: 20px;
}
.footer p {
  margin: 0;
}
/* End Footer */

/* Start Grid System */
@media (min-width: 576px) { /*small devices=> lancscape phones*/
  .container {
    max-width: 540px;
  }
  
}
@media (min-width: 768px) { /*medium devices=> tablets*/
  .container {
    max-width: 720px;
  }
  
}
@media (min-width: 992px) { /*large devices=> desktops*/
  .container {
    max-width: 960px;
  }
  
}
@media (min-width: 1200px) { /*large screens*/
  .container {
    max-width: 1140px;
  }
  
}
/* End Grid System */